body {
  background-color: gainsboro;
}

.container {
  border: 1px solid black;
}

.navbar-header {
  color: white;
}

.navbar {
  background-color: darkgreen;
  color: white;
}

.navbar-brand {
  color: white;
}