body {
  background-color: gainsboro;
}

.container {
  border: 0px solid black;
}

.navbar {
  background-color: darkgreen;
}

.navbar-brand {
  background-color: darkgreen;
  font-family: monospace, monospace;
  font-size: 25px;
  color: white;
}